.DS_Store

# Carpetas temporales
PRE_*/temp/*
!PRE_*/temp/.gitkeep
**/P[0-9][0-9][0-9]_*/temp/*
!**/P[0-9][0-9][0-9]_*/temp/.gitkeep
**/L[0-9][0-9][0-9]_*/temp/*
!**/L[0-9][0-9][0-9]_*/temp/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Archivos de configuración
.env
.envrc

# VS Code
.vscode/

# Archivos temporales
tempCodeRunnerFile.py

# Pytest
.pytest_cache/

# Coverage
.coverage
.coverage.*
htmlcov/
.coverage.xml

# Ruff
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Build / distribución
build/
dist/
*.egg-info/

# Archivos de sistema / IDE
.idea/
.spyderproject
.spyproject

# IMPORTANTE:
# NO ignorar las carpetas submission/
# porque los tests pueden necesitarlas.